<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Atrás"></ion-back-button>
        </ion-buttons>
        <ion-title>Acceso audioteca</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [hidden]="verifying">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    </ion-list>
    <div class="ion-padding">
        <ion-button expand="full" mode="ios" fill="solid" color="primary" (click)="login()">Entrar</ion-button>
    </div>
</ion-content>