<ion-header>
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div>
        <ion-list>
            <ion-item (click)="gotoAudioBooks()">
                <ion-icon name="headset" slot="start"></ion-icon>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                Mis Audio Libros
            </ion-item>
            <ion-item (click)="gotoAudioLibrary()">
                <ion-icon name="cloud-download" slot="start"></ion-icon>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                Audioteca Nueva Luz
            </ion-item>
            <ion-item (click)="gotoNotifications()">
                <ion-icon name="notifications" slot="start"></ion-icon>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                Notificaciones
            </ion-item>
            <ion-item (click)="gotoConfiguration()">
                <ion-icon name="construct" slot="start"></ion-icon>
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                Configuración
            </ion-item>
        </ion-list>
    </div>
</ion-content>